/* Basic resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Navbar styles */
.navbar {
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-brand img {
    width: 150px;
    height: auto;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Dropdown for mobile */
.dropdown {
    display: none; 
    position: relative;
}

.dropbtn {
    background-color: #000000;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .dropdown {
        display: block;
    }
}

/* Título */
h1 {
    text-align: center;
    margin-top: 50px;
}

/* Container externo */
.outer-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 90%;
    margin: 20px auto;
}

/* Container geral */
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px;
    border: 1px solid #dddddd;
    text-align: left;
}

th {
    background-color: #ffab36;
    color: white;
    text-align: center;
}

td {
    text-align: center; 
}

/* Estilização dos botões */
.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FFA500;
}

a {
    color: white; 
    text-decoration: none; 
}

.excluir {
    background-color: rgb(201, 53, 53); 
}


.excluir:hover {
    background-color:rgb(255, 0, 0); ; 
}